input[type=string] {
  width: 18%;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  text-align: right;
  cursor: text;
  letter-spacing: 2px;        
  text-shadow: 0 0 1.5px black;       
  word-spacing: 2px; 
  height: 20%; 
  font-size: 120%;
  background : rgb(224, 211, 211, 0.1);
  border: 3px solid #ffffff;
  color: #ffffff;  
  }
  
input[type=string]:focus {
  width: 19%;
}

::placeholder {
  color: #ffffff;
}

button {
  color: #ffffff !important;
  text-transform: uppercase;
  background: rgb(224, 211, 211, 0.1);
  padding: 5px 22px;
  border: 3px solid #ffffff !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

button:hover {
  color: rgb(255, 255, 255) !important;
  border-radius: 50px;
  border-color: rgb(217, 165, 179) !important;
  transition: all 0.3s ease 0s;
}